canvas{
	border: 1px solid grey;
}


#title{
	font-size: 3em;
	padding-bottom: 0px;
	margin-bottom: 0px;
	display: block;

}

#header{
	padding-bottom: 5px;
}

#palette{
	overflow: auto;
	width:100%;
	padding: 0px;
	margin: 0px;
	height: auto;
}
#mailList{

}
.indicates-required{
	font-size: 0.8em;
}

.colorbox{
	width:20%;
	height:30px;
   	background-color:grey;
	border: 2px solid white;
	float:left;
	margin:2px;
	padding:0px;
}


.selectedColor{
	border:2px solid black;
}

.unselectedColor{
	border:2px solid white;
}


select{
	width:100%;
	clear:right;
}
#social{
	text-align:right;
}
.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected  {
    background-color: #ccc;
}

#brushSize label {
    display: inline-block;
    cursor: pointer;
	float:left;
	width: 32%;
}

#brushSize label img {
    padding: 3px;
}


#c01{ background-color:#1abc9c;
	clear:left;
}
#c02{ background-color:#16a085;
}
#c03{ background-color:#f1c40f;
}
#c04{ background-color:#f39c12;
}
#c05{ background-color:#2ecc71;
}
#c06{ background-color:#27ae60;
}
#c07{ background-color:#e67e22;
}
#c08{ background-color:#d35400;
}
#c09{ background-color:#3498db;
}
#c10{ background-color:#2980b9;
}
#c11{ background-color:#e74c3c;
}
#c12{ background-color:#c0392b;
}
#c12{ background-color:#c0392b;
}
#c13{ background-color:#F0B6C7;
}
#c14{ background-color:#DB8AA2;
}
#c15{ background-color:#CCB281;
}
#c16{ background-color:#A38449;
}
#c17{ background-color:#9b59b6;
}
#c18{ background-color:#8e44ad;
}
#c19{ background-color:#ecf0f1;
}
#c20{ background-color:#bdc3c7;
}
#c21{ background-color:#34495e;
}
#c22{ background-color:#2c3e50;
}
#c23{ background-color:#95a5a6;
}
#c24{ background-color:#7f8c8d;
}

