canvas{
	border: 1px solid grey;
}

.colorbox{
	width:21%;
	height:20px;;
   	background-color:grey;
	border: 1px solid white;
	float:left;
	margin:2px;
	padding:0px;
}
#c01{ background-color:#1abc9c;
}
#c02{ background-color:#16a085;
}
#c03{ background-color:#f1c40f;
}
#c04{ background-color:#f39c12;
}
#c05{ background-color:#2ecc71;
}
#c06{ background-color:#27ae60;
}
#c07{ background-color:#e67e22;
}
#c08{ background-color:#d35400;
}
#c09{ background-color:#3498db;
}
#c10{ background-color:#2980b9;
}
#c11{ background-color:#e74c3c;
}
#c12{ background-color:#c0392b;
}
#c13{ background-color:#9b59b6;
}
#c14{ background-color:#8e44ad;
}
#c15{ background-color:#ecf0f1;
}
#c16{ background-color:#bdc3c7;
}
#c17{ background-color:#34495e;
}
#c18{ background-color:#2c3e50;
}
#c19{ background-color:#95a5a6;
}
#c20{ background-color:#7f8c8d;
}